<script>
    function randomString(length) {
        var chars = '0123456789abcdefghijklmnopqrstuvwxyzABCDEFGHIJKLMNOPQRSTUVWXYZ';
        var result = '';
        for (var i = length; i > 0; --i) result += chars[Math.floor(Math.random() * chars.length)];
        return result;
    }

    function setCookie(unique_key, noofreturns, expirydays, isreloaded) {
        const d = new Date();
        let lastV = d.toUTCString();
        d.setTime(d.getTime() + (expirydays*24*60*60*1000));
        let expiry = "expires="+ d.toUTCString();
        document.cookie = "LegalDropData=" + "session_key=" + unique_key + "|noof_visits=" + noofreturns + "|last_visited=" + lastV + "|has_reloaded=" + isreloaded + ";" + expiry;
    }

    function getCookie(cname) {
    let name = cname + "=";
    let decodedCookie = decodeURIComponent(document.cookie);
    let ca = decodedCookie.split('|');
    for(let i = 0; i <ca.length; i++) {
        let c = ca[i];
        while (c.charAt(0) == ' ') {
        c = c.substring(1);
        }
        if (c.indexOf(name) == 0) {
        return c.substring(name.length, c.length);
        }
    }
    return "";
    }

    function startIntercom()
    {
        var w=window;
        var ic=w.Intercom;
        if(typeof ic==="function")
        {
            ic('reattach_activator');
            ic('update',w.intercomSettings);
        }
        else
        {
            var d=document;
            var i=function(){i.c(arguments);};
            i.q=[];
            i.c=function(args){i.q.push(args);};
            w.Intercom=i;
            var l=function(){var s=d.createElement('script');
            s.type='text/javascript';
            s.async=true;
            s.src='https://widget.intercom.io/widget/wsy9k644';
            var x=d.getElementsByTagName('script')[0];
            x.parentNode.insertBefore(s,x);};
            if(w.attachEvent)
            {
                w.attachEvent('onload',l);
            } else{
                w.addEventListener('load',l,false);
            }
        }
    }
    // The custom launcher can also be done here, it needs to connect to an html element, which is done through IDs
    // e.g.
    // add this <a id="custom_intercom">INTERCOM TEST</a>
    // as a custom launcher test. This can be perfectly tuned to the aesthetic and vibe of the website as it can be stylised with css,
    // it can even be added to other elements such as a link in a navbar or a call to action button on the page, with a tag that tiggers as it is pressed.
    (function() {
        console.log('Main executing');
        var reload = (performance.navigation.type == performance.navigation.TYPE_RELOAD);
        const expirationDays = 30;
        if (decodeURIComponent(document.cookie) == ""){
            var newUserKey = "N_" + randomString(16);
            setCookie(newUserKey, 1, expirationDays, reload);
            window.intercomSettings = {
                app_id: "wsy9k644",
                user_id: newUserKey
                //custom_launcher_selector:'#custom_intercom'
            };
        } else {
            console.log("Familiar visitor detected");
            let numberofVisits = parseInt(getCookie("noof_visits"));
            var userKey = ((numberofVisits > 15) ? "F" : "R") + "_" + randomString(16);
            setCookie(userKey, numberofVisits + 1, expirationDays, reload);
            window.intercomSettings = {
                app_id: "wsy9k644",
                // THIS DATA NEEDS TO FILLED OUT; maybe hubspot api ? but idk where such data can be retrieved from
                // as idk where user account info is stored
                name: "<%= current_user.name %>",
                email: "<%= current_user.email %>",
                user_id: userKey,
                created_at: "<%= current_user.created_at.to_i %>"
                //custom_launcher_selector:'#custom_intercom'
            };       
        }
        startIntercom();
    }());
</script>
